.lmj-banner {
  display: flex;
  justify-content: center;
  font-style: italic;
	color: black;
	text-align: right;
	padding: 32px;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	position: relative;
	padding-left: 10px;
}

.trade-mark {
	font-size: 15px;
	position: absolute;
	bottom: 15px;
}

.lmj-logo {
	height: 50px;
	width: 50px;
}
