.lmj-footer {
	color: black;
	padding-top: 15px;
	padding-bottom: 32px;
	border-top: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

.lmj-footer-elem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	margin-top: -35px;
}

.email-input {
	padding: 10px;
	border-radius: 10px;
}

.footer-btn {
	margin-top: 15px;
	height: 15px;
	background-color: #31B573;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #000;
	font-weight: bold;
	font-style: italic;
}